.experince__date {
    color: var(--color-white);
}

.experience__title  {
    color: var(--color-white);
}

.experience__company {
    color: var(--color-primary);
}

.experience__company a:hover {
    color: var(--color-white);
}

.experience__location {
    color: var(--color-primary);
}

.experience__description {
    color: var(--color-light);
    padding-top: 1rem;
    white-space: pre-line;
}

.experince__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon-image {
    width: 60%;
    height: 60%;
    object-fit: contain;
}

.experience-section {
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
}

.experience__content {
    padding-top: 1rem;
    color: var(--color-light);
}

.experience__descriptions,
.experience__achievements ul {
    list-style-type: none;
    padding-left: 1.2rem;
}

.experience__descriptions li,
.experience__achievements li {
    position: relative;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    font-size: 0.8rem;
}

.experience__descriptions li::before {
    content: "•";
    color: var(--color-primary);
    position: absolute;
    left: -1.2rem;
}

.experience__achievements {
    margin-top: 1.5rem;
}

.experience__achievements h4 {
    color: var(--color-primary);
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
    font-weight: normal;
    display: flex;
    align-items: center;
}

.experience__achievements li::before {
    content: "•";
    color: var(--color-primary);
    position: absolute;
    left: -1.2rem;
}
