:root {
  --accent: #6600ff;
  --body-grey: #8b949d;
}

body {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  width: 100%;
}

h1 {
  font-size: 2rem;
}

.body {
  width: 90%;
  margin: 0vh auto;
  padding-top: 2vh;
}
